! Molokai theme
! https://gist.github.com/vreon/845878
*xterm*background	: #101010
*xterm*foreground	: #d0d0d0
*xterm*cursorColor	: #d0d0d0
*xterm*color0   	: #101010
*xterm*color1	        : #960050
*xterm*color2           : #66aa11
*xterm*color3	        : #c47f2c
*xterm*color4	        : #30309b
*xterm*color5	        : #7e40a5
*xterm*color6	        : #3579a8
*xterm*color7	        : #9999aa
*xterm*color8	        : #303030
*xterm*color9	        : #ff0090
*xterm*color10	        : #80ff00
*xterm*color11	        : #ffba68
*xterm*color12	        : #5f5fee
*xterm*color13	        : #bb88dd
*xterm*color14	        : #4ebefa
*xterm*color15	        : #d0d0d0

! Disable bold fonts
XTerm.vt100.boldMode:false
XTerm.vt100.boldFont:


! Green Theme 
! https://bbs.archlinux.org/viewtopic.php?pid=1085021#p1085021
!*background:             #262729
!*foreground:             #f8f8f2
! Black
!*color0:                 #262729
!*color8:                 #262729
! Red
!*color1:                 #f92671
!*color9:                 #ff669d
! Green
!*color2:                 #a6e22e
!*color10:                #beed5f
! Yellow
!*color3:                 #fd971f
!*color11:                #e6db74
! Blue
!*color4:                 #1692d0
!*color12:                #66d9ef
! Magenta
!*color5:                 #9e6ffe
!*color13:                #df92f6
! Cyan
!*color6:                 #5e7175
!*color14:                #a3babf
! White
!*color7:                 #ffffff
!*color15:                #ffffff
! Cursor
!*cursorColor:            #b5d2dd
